.App {
  text-align: center;
}
.todo-List{
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.complete{
  text-decoration: line-through;
}
 
.title-todo{
  font-family: 'Arial Narrow Bold', sans-serif;
  color:white;
  font-size: 50px;
}
.title{
  color:white;
  font-size: 20px;
}
 .btn-todo{
  margin-top:20px;
  margin-left:50%;
  width: 80px;
  height: 30px;
  border-radius:5px;
  background-color: cornflowerblue;
 }

.add-todo{
  width: 100%;
    margin-right: 100px;;
border-radius:6px;
height:30px;
  }
  .list{
    
    list-style-type: none;
  }

